In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [5]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [6]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [9]:
#enumerate

In [10]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [15]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [17]:
#zip function

In [22]:
mylist1 = ['a','b','c']
mylist2 = [1,2,3]
for item in zip(mylist1,mylist2):
    print(item)

('a', 1)
('b', 2)
('c', 3)

In [26]:
mylist1 = ['a','b','c']
mylist2 = [1,2,3,4,5]
mylist3 = [11,22,33]
for item in zip(mylist1,mylist2,mylist3):
    print(11)
    print(22)
    print(33)

11
22
33
11
22
33
11
22
33

In [33]:
mylist1 = ['a','b','c']
mylist2 = [1,2,3,4,5]
list(zip(mylist1,mylist2))

[('a', 1), ('b', 2), ('c', 3)]

In [35]:
mylist1 = ['a','b','c']
mylist2 = [1,2,3,4,5]
mylist3 = [11,22,33]
for item in zip(mylist1,mylist2,mylist3):
    print(item)

('a', 1, 11)
('b', 2, 22)
('c', 3, 33)

In [37]:
mylist1 = ['a','b','c']
mylist2 = [1,2,3,4,5]
for item in zip(mylist1,mylist2):
    print(item)

('a', 1)
('b', 2)
('c', 3)

In [38]:
#in keyword

In [39]:
'x' in [1,2,3]

False

In [41]:
'x' in 'wounders'

False

In [42]:
'mikey' in {'mikey':1}

True

In [43]:
d={'mikey':345}
345 in d. values()

True

In [44]:
345 in d.keys()

False

In [45]:
345 in d.items()

False

In [46]:
#min,max

mylist= [10,20,30,40,50,60]
min (mylist)

In [47]:
mylist= [10,20,30,40,50,60] 
min (mylist)

10

In [48]:
max(mylist)

60

In [49]:
#random library

In [52]:
from random import shuffle
mylist = [1,2,3,4,5,6,7,8]
shuffle(mylist)
rd1 = mylist

In [54]:
rd1

[4, 1, 3, 8, 2, 6, 5, 7]

In [55]:
from random import randint
randint(0,10)

6

In [56]:
randint(0,100)

47

In [57]:
my_num = randint(0,50)

In [58]:
my_num

5

In [59]:
#input()

In [60]:
input('Enter a number here')

Enter a number here22

'22'

In [61]:
input('what is your favourite color')

what is your favourite color22

'22'

In [67]:
int(input('enter your no'))

enter your no33

33

In [68]:
result = int(input('enter your favourate no'))

enter your favourate no44

In [64]:
result

22

In [65]:
type(result)

int

In [66]:
number = float(input('enter 1st number'))
number_two = float(input('enter second number'))
result = number + number_two
print(result)

enter 1st number22
enter second number4
26.0

In [69]:
#list comprehensions in python

In [70]:
mystring = 'hello'
mylist = []
for letter in mystring:
    mylist.append(letter)

In [71]:
 mylist

['h', 'e', 'l', 'l', 'o']

In [73]:
mystring = 'hello'
mylist = [letter for letter in mystring]

In [74]:
mylist

['h', 'e', 'l', 'l', 'o']

In [75]:
mylists= [x for x in 'namsha is good boy']

In [77]:
mylists

['n',
 'a',
 'm',
 's',
 'h',
 'a',
 ' ',
 'i',
 's',
 ' ',
 'g',
 'o',
 'o',
 'd',
 ' ',
 'b',
 'o',
 'y']

In [78]:
mylist =[num for num in range (0,11)]

In [81]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [85]:
mynum= [num**2 for num in range(0,11)]

In [86]:
mynum

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [88]:
myeven = [x for x in range (0,11)if x%2==0]

In [89]:
myeven

[0, 2, 4, 6, 8, 10]

In [90]:
celcius = [0,10,20,30,40,50,34.5]
fathrenheit = [((9/5)*temp+32)for temp in celcius]

In [91]:
fathrenheit

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0, 94.1]

In [92]:
celcius= [0,10,20,30,40,50,34.5]
fathrenheit=[]
for temp in celcius:
    fathrenheit.append((9/5)*temp+32)
    print(fathrenheit)

[32.0]
[32.0, 50.0]
[32.0, 50.0, 68.0]
[32.0, 50.0, 68.0, 86.0]
[32.0, 50.0, 68.0, 86.0, 104.0]
[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]
[32.0, 50.0, 68.0, 86.0, 104.0, 122.0, 94.1]

In [93]:
results = [x if x%2 == 0 else 'COD'for x in range(0,10)]

In [95]:
results

[0, 'COD', 2, 'COD', 4, 'COD', 6, 'COD', 8, 'COD']

In [104]:
#nested loop

In [106]:
mylist = []
for x in [2,4,6]:
    for y in [6,7,8]:
        mylist.append(x*y)

In [107]:
mylist

[12, 14, 16, 24, 28, 32, 36, 42, 48]

In [108]:
mynest = [x*y for x in [2,4,6]for y in[1,10,1000]]

In [109]:
mynest

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]